@model IEnumerable<CityView.Institution>

@{
    ViewData["Title"] = "Institution";
}

<h1>Заклади міста @ViewBag.CityName</h1>

<p>
    @Html.ActionLink("Додати новий заклад", "Create", new { cityId = @ViewBag.CityId })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescriptionInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contacts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescriptionInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contacts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Коментарі</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
